<div class="w-full flex items-center gap-2 p-3 bg-secondary rounded-xl">
  <p
    class="cursor-pointer grow hover:text-white transition"
    [ngClass]="{
      'text-emerald-700 font line-through': todoItem().isCompleted,
      'text-primary': !todoItem().isCompleted
    }"
    (click)="onSelect()"
  >
    {{ todoItem().title }}
  </p>
  <div class="flex justify-center items-center gap-2">
    <button class="btn-icon" type="button" (click)="onToggle()">
      @if (todoItem().isCompleted) {
      <i class="fa-solid fa-xmark"></i>
      } @else {
      <i class="fa-solid fa-check"></i>
      }
    </button>
    <button class="btn-icon" type="button" (click)="onDelete()">
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </div>
</div>
