/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
  --color-background: #0D0714;
  --color-task-list-bg: #1D1825;
  --color-primary: #9E78CF;
  --color-secondary: #15101C;
}

@layer base {
  body {
    @apply font-display bg-background text-white flex items-center justify-center min-h-screen;
  }

  .btn-icon {
    @apply bg-transparent hover:bg-primary/20 transition duration-200 w-10 h-10 text-primary rounded-lg cursor-pointer;
  }
}
